In [2]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kumar\desktop\faang_project\faang\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\kumar\desktop\faang_project\faang\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/12.6 MB 9.7 MB/s eta 0:00:02
   --------- ------------------------------ 3.1/12.6 MB 9.3 MB/s eta 0:00:02
   -------------- ------------------------- 4.5/12.6 MB 9.8 MB/s eta 0:00:01
   ------------------ --------------------- 5.8/12.6 MB 7.2 MB/s eta 0:00:01
   ------------------- -------------------- 6.3/12.6 MB 6.4 MB/s eta 0:00:01
   ---------------------- ----------------- 7.1/12.6 MB 6.0 MB/s eta 0:00:01
   ------------------------ --------------- 7.9/12.6 MB 5.6 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.6 MB 5.4 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.6 MB 5.2 MB/s eta 0:00:01
   -------------------------------- ------- 10.2/12.6 MB 5.0 MB/s eta 0:00:01
   ---------------------------------- ----- 10.7/12.6 MB 4.8 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 4.4 MB/s eta 0:00:00
Using cached pytz-2025.1-py2.py3-none-any.whl (507 kB)
Using cached tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/kumar/Desktop/FAANG_PROJECT/FAANG - FAANG.csv.csv")
df

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,...,Price to Book Ratio,Enterprise Value,Total Debt,Total Assets,Total Equity,Beta (5Y),Annual Dividend Rate,Trailing Twelve Months (TTM) Revenue,Trailing Twelve Months (TTM) EBITDA,Trailing Twelve Months (TTM) Earnings
0,Apple,AAPL,1/3/2005,1.156786,1.162679,1.117857,1.130179,0.954409,691992000,3.580000e+12,...,53.660430,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0,NaN,NaN,NaN
1,Apple,AAPL,1/4/2005,1.139107,1.169107,1.124464,1.141786,0.964210,1096810400,3.580000e+12,...,53.660430,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0,NaN,NaN,NaN
2,Apple,AAPL,1/5/2005,1.151071,1.165179,1.143750,1.151786,0.972655,680433600,3.580000e+12,...,53.660430,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0,NaN,NaN,NaN
3,Apple,AAPL,1/6/2005,1.154821,1.159107,1.130893,1.152679,0.973409,705555200,3.580000e+12,...,53.660430,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0,NaN,NaN,NaN
4,Apple,AAPL,1/7/2005,1.160714,1.243393,1.156250,1.236607,1.044284,2227450400,3.580000e+12,...,53.660430,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23050,Netflix,NFLX,10/11/2024,734.900024,736.000000,721.219971,722.789978,722.789978,2299500,3.250000e+11,...,14.262457,3.010000e+11,1.598133e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23051,Netflix,NFLX,10/14/2024,725.000000,726.619995,711.309998,713.000000,713.000000,2797100,3.250000e+11,...,14.262457,3.010000e+11,1.598133e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23052,Netflix,NFLX,10/15/2024,712.510010,713.400024,699.780029,705.979981,705.979981,2932800,3.250000e+11,...,14.262457,3.010000e+11,1.598133e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23053,Netflix,NFLX,10/16/2024,703.429993,705.590027,697.820007,702.000000,702.000000,2494300,3.250000e+11,...,14.262457,3.010000e+11,1.598133e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23054,Netflix,NFLX,10/17/2024,704.349976,704.409973,677.880005,687.650024,687.650024,8820000,3.250000e+11,...,14.262457,3.010000e+11,1.598133e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.isnull().sum()

Company                                      0
Ticker                                       0
Date                                         0
Open                                         0
High                                         0
Low                                          0
Close                                        0
Adj Close                                    0
Volume                                       0
Market Cap                                   0
PE Ratio                                     0
Beta                                      4982
EPS                                          0
Forward PE                                   0
Revenue                                  23055
Gross Profit                             23055
Operating Income                         23055
Net Income                                   0
Debt to Equity                               0
Return on Equity (ROE)                       0
Current Ratio                                0
Dividends Paid                            9964
Dividend Yield                            9964
Quarterly Revenue Growth                     0
Analyst Recommendation                       0
Target Price                                 0
Free Cash Flow                               0
Operating Margin                             0
Profit Margin                                0
Cash Ratio                               23055
Quick Ratio                                  0
Price to Book Ratio                          0
Enterprise Value                             0
Total Debt                                   0
Total Assets                             23055
Total Equity                             23055
Beta (5Y)                                 4982
Annual Dividend Rate                      9964
Trailing Twelve Months (TTM) Revenue     23055
Trailing Twelve Months (TTM) EBITDA      23055
Trailing Twelve Months (TTM) Earnings    23055
dtype: int64

In [4]:
##Dropping columns having null values
df.drop(columns=['Beta','Dividends Paid', 'Dividend Yield', 'Beta (5Y)', 'Annual Dividend Rate','Revenue', 'Gross Profit', 'Operating Income', 'Cash Ratio', 'Total Assets', 'Total Equity', 'Trailing Twelve Months (TTM) Revenue', 'Trailing Twelve Months (TTM) EBITDA', 'Trailing Twelve Months (TTM) Earnings'], inplace=True)

In [5]:
df.shape

(23055, 27)

In [6]:
df.isnull().sum()

Company                     0
Ticker                      0
Date                        0
Open                        0
High                        0
Low                         0
Close                       0
Adj Close                   0
Volume                      0
Market Cap                  0
PE Ratio                    0
EPS                         0
Forward PE                  0
Net Income                  0
Debt to Equity              0
Return on Equity (ROE)      0
Current Ratio               0
Quarterly Revenue Growth    0
Analyst Recommendation      0
Target Price                0
Free Cash Flow              0
Operating Margin            0
Profit Margin               0
Quick Ratio                 0
Price to Book Ratio         0
Enterprise Value            0
Total Debt                  0
dtype: int64

In [7]:
# IQR REMOVING OUTLIERS
for i in df.columns:
    if df[i].dtype != 'object':
        percentile25 = df[i].quantile(0.25)
        percentile75 = df[i].quantile(0.75)
        iqr=percentile75 - percentile25
        upper_limit = percentile75 + 1.5 * iqr
        lower_limit = percentile25 - 1.5 * iqr
        df[i] = df[i].clip(lower=lower_limit, upper=upper_limit)

In [8]:
df.columns

Index(['Company', 'Ticker', 'Date', 'Open', 'High', 'Low', 'Close',
       'Adj Close', 'Volume', 'Market Cap', 'PE Ratio', 'EPS', 'Forward PE',
       'Net Income', 'Debt to Equity', 'Return on Equity (ROE)',
       'Current Ratio', 'Quarterly Revenue Growth', 'Analyst Recommendation',
       'Target Price', 'Free Cash Flow', 'Operating Margin', 'Profit Margin',
       'Quick Ratio', 'Price to Book Ratio', 'Enterprise Value', 'Total Debt'],
      dtype='object')

In [9]:
df.shape

(23055, 27)

In [10]:
df.to_csv("C:/Users/kumar/Desktop/FAANG_PROJECT/FAANG - FAANG2.csv.csv", index=False)